.location {
  margin-left: 100px;
  max-width: 990px;

  &::after {
    display: block;
    content: '';
    margin-top: 43px;
    margin-bottom: 32px;
    left: 0;

    width: 100%;
    height: 0px;
    border: 1px solid #e5e4e4;
  }
}
.location_city {
  max-width: 559px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
  flex-wrap: wrap;
}
.city {
  font-family: 'Arial';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 19px;
  color: #000000;
}

.location_university {
  max-width: 559px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.university {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  color: #000000;
}
select {
  appearance: none;
  background-image: url('../../img/arrow.jpg');
  background-repeat: no-repeat;
  background-position: right 3% top 50%;
  outline: none;
  max-width: 336px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: 1px solid #999999;
  box-sizing: border-box;
}
@media screen and (max-width: 1019px) {
  select {
    float: none;
    margin-left: 0px;
    margin-right: 100px;
    min-width: 260px;
  }
}
