@media screen and (max-width: 500px) {
  input {
    width: 100px;
  }
}

.password {
  max-width: 559px;
  margin-left: 100px;
  max-width: 990px;
  &::after {
    display: block;
    content: '';
    margin-top: 43px;
    margin-bottom: 32px;
    left: 0;
    width: 100%;
    height: 0px;
    border: 1px solid #e5e4e4;
  }
}
.password_wrapper {
  max-width: 559px;
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  color: #000000;
}
input {
  width: 335px;
  height: 31px;
  border: 1px solid #999999;
  box-sizing: border-box;
}

.password_error {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ff0000;
  margin-left: 224px;
}
