.wrapper {
  // max-width: 594px;
  max-width: 932px;
  margin-left: 100px;
  margin-bottom: 40px;
}

.email_wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: flex-start;
  margin-bottom: 16px;
}
.email_field {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  color: #000000;
  margin-right: 36px;
}

.email_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.email_agree {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  color: #000000;
  margin-right: 36px;
}
.checkbox {
  align-self: center;
  margin-left: 115px;
  width: 12px;
  height: 12px;
  border: 1px solid #7e7e7e;
  box-sizing: border-box;
}
.email_info {
  max-width: 348px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 10px;
}

select {
  max-width: 336px;
  width: 100%;
  height: 31px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  border: 1px solid #999999;
  box-sizing: border-box;
  margin-right: 18px;
}
.email_error {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ff0000;
  margin-left: 224px;
}

.email_hint {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #999999;
}
@media screen and (max-width: 1019px) {
  .email_error {
    float: none;
    margin-left: 0px;
  }
}
